@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Inter', sans-serif;
}

.newsLetter-heading{
    font-family: 'Libre Baskerville', sans-serif !important; 
}
.products-flex{
    justify-content: start !important;
}
p, h1, h2, h3, h4, h5{
  opacity: .8;
}