@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.newsLetter-heading{
    font-family: 'Libre Baskerville', sans-serif !important; 
}
.products-flex{
    justify-content: start !important;
}
p, h1, h2, h3, h4, h5{
  opacity: .8;
}

.animate-fadeInOut{
    animation: fadeInOut 800ms ;
}
.animate-fadeIn{
    animation: fadeIn 800ms ;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }